title: 0xf4wk3s
description: "0xf4wk3s | Cyber Threat Intelligence"
author:
  name: "0xf4wk3s"
  email: "0xf4wk3s@protonmail.ch"
  url: "https://0x4fwk3s.github.io/"

baseurl: /

source: .
destination: ./_site
permalink: /:title
paginate: 3
paginate_path: /page/:num/

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

future: true
plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-sitemap

# Custom variables
owner : "0xf4wk3s"
year : "2021"
